<div id="about">
  <table>
    <tr>
      <th>Created</th>
      <td>2011</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>Petr Kovář &lt;pejuko@gmail.com&gt;</td>
    </tr>
    <tr>
      <th>Homepage</th>
      <td><a href="https://github.com/pejuko/sudoku/">https://github.com/pejuko/sudoku/</a></td>
    </tr>
  </table>
</div>
