* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-image: -moz-linear-gradient(top, #ccc, #eee);
}

h1 {
  text-align: center;
}

#content {
  padding: 1em;
  background: transparent;
}

p {
  margin: 1em;
}

ul, ol {
  margin-left: 3em;
}

#sudoku {
  text-align: center;
  vertical-align: middle;
  border: #000 solid 1px;
/*  border-collapse: collapse;*/
  border-radius: 0.5em;
  padding: 0.5em;
  background-image: -moz-linear-gradient(top, #eee, #ccc);
}

#sudoku td, .solution, .hint {
  font-weight: bold;
  font-size: 26px;
}

#sudoku td {
  width: 48px;
  height: 48px;
  border: #000 solid 1px;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}

#sudoku .solution {
  color: #fff;
  background-image: -moz-linear-gradient(top, #555, #333);
}

#sudoku .hint {
  color: #00f;
  background-image: -moz-linear-gradient(top, #bbb, #eee);
}

#sudoku .empty {
    width: 12px;
    height: 12px;
    border: none;
    font-size: 0px;
}

#sudoku tr {
    padding: 0;
    margin: 0;
}

#sudoku input {
    border: none;
    color: #00f;
    background: transparent;
    font-size: 26px;
    width: 42px;
    height: 42px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#message, #error, .button {
  font-size: 32px;
  font-weight: bold;
  width: 200px;
  padding: 15px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  border: #000 solid 1px;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}

#message {
  background: #afa;
  color: #0a0;
}

#error {
  background: #faa;
  color: #a00;
}

#controll, #new {
  margin: 10px;
  width: 600px;
  -moz-border-radius: 0.3em;
}

.button {
  font-size: 26px;
  padding: 5px;
  margin: 5px;
  width: 150px;
  background-image: -moz-linear-gradient(top, #ccc, #eee);
}

#new select {
    text-align: center;
    width: 5em;
    margin: 5px;
    padding: 5px;
}

.level {
    padding: 5px;
    margin: 5px;
    border:1px solid #000;
    border-radius: 0.3em;
    background-image: -moz-linear-gradient(left, #ad9, #e99);
}
